<a href="https://colab.research.google.com/github/thetestcoder/ml-projects/blob/main/ML_8_Airbnb_Rental_Price_Predication.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [2]:
!kaggle datasets download arianazmoudeh/airbnbopendata

Downloading airbnbopendata.zip to /content
 57% 6.00M/10.5M [00:00<00:00, 61.4MB/s]
100% 10.5M/10.5M [00:00<00:00, 84.1MB/s]

In [3]:
!unzip airbnbopendata.zip

Archive:  airbnbopendata.zip
  inflating: Airbnb_Open_Data.csv

In [4]:
#load data
import pandas as pd
import numpy as np

df = pd.read_csv("Airbnb_Open_Data.csv")

<ipython-input-4-3a8cfacd0bd1>:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Airbnb_Open_Data.csv")

In [5]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [6]:
selected_columns = [
    'NAME',
    "country",
    "room type",
    "Construction year",
    "price",
    'host_identity_verified',
    'neighbourhood',
    'neighbourhood group',
    'lat',
    'long',
    'minimum nights',
    'number of reviews',
    'reviews per month',
    'calculated host listings count',
    'availability 365',
    'service fee',
    'license'
]

In [7]:
df = df[selected_columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NAME                            102349 non-null  object
 1   country                         102067 non-null  object
 2   room type                       102599 non-null  object
 3   Construction year               102385 non-null  float64
 4   price                           102352 non-null  object
 5   host_identity_verified          102310 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   neighbourhood group             102570 non-null  object
 8   lat                             102591 non-null  float64
 9   long                            102591 non-null  float64
 10  minimum nights                  102190 non-null  float64
 11  number of reviews               102416 non-null  float64
 12  reviews per month               86720 non-null   float64
 13  calculated host listings count  102280 non-null  float64
 14  availability 365                102151 non-null  float64
 15  service fee                     102326 non-null  object
 16  license                         2 non-null       object
dtypes: float64(8), object(9)
memory usage: 13.3+ MB

In [9]:
df.describe()

,Construction year,lat,long,minimum nights,number of reviews,reviews per month,calculated host listings count,availability 365
count,102385.000000,102591.000000,102591.000000,102190.000000,102416.000000,86720.000000,102280.000000,102151.000000
mean,2012.487464,40.728094,-73.949644,8.135845,27.483743,1.374022,7.936605,141.133254
std,5.765556,0.055857,0.049521,30.553781,49.508954,1.746621,32.218780,135.435024
min,2003.000000,40.499790,-74.249840,-1223.000000,0.000000,0.010000,1.000000,-10.000000
25%,2007.000000,40.688740,-73.982580,2.000000,1.000000,0.220000,1.000000,3.000000
50%,2012.000000,40.722290,-73.954440,3.000000,7.000000,0.740000,1.000000,96.000000
75%,2017.000000,40.762760,-73.932350,5.000000,30.000000,2.000000,2.000000,269.000000
max,2022.000000,40.916970,-73.705220,5645.000000,1024.000000,90.000000,332.000000,3677.000000

In [10]:
df.head()

,NAME,country,room type,Construction year,price,host_identity_verified,neighbourhood,neighbourhood group,lat,long,minimum nights,number of reviews,reviews per month,calculated host listings count,availability 365,service fee,license
0,Clean & quiet apt home by the park,United States,Private room,2020.0,$966,unconfirmed,Kensington,Brooklyn,40.64749,-73.97237,10.0,9.0,0.21,6.0,286.0,$193,NaN
1,Skylit Midtown Castle,United States,Entire home/apt,2007.0,$142,verified,Midtown,Manhattan,40.75362,-73.98377,30.0,45.0,0.38,2.0,228.0,$28,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,United States,Private room,2005.0,$620,NaN,Harlem,Manhattan,40.80902,-73.94190,3.0,0.0,NaN,1.0,352.0,$124,NaN
3,NaN,United States,Entire home/apt,2005.0,$368,unconfirmed,Clinton Hill,Brooklyn,40.68514,-73.95976,30.0,270.0,4.64,1.0,322.0,$74,NaN
4,Entire Apt: Spacious Studio/Loft by central park,United States,Entire home/apt,2009.0,$204,verified,East Harlem,Manhattan,40.79851,-73.94399,10.0,9.0,0.10,1.0,289.0,$41,NaN

In [11]:
df['price'] = pd.to_numeric(df['price'].str.replace('$', ''), errors='coerce')
df['service fee'] = pd.to_numeric(df['service fee'].str.replace('$', ''), errors='coerce')

<ipython-input-11-a11e06f198de>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = pd.to_numeric(df['price'].str.replace('$', ''), errors='coerce')
<ipython-input-11-a11e06f198de>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['service fee'] = pd.to_numeric(df['service fee'].str.replace('$', ''), errors='coerce')

In [12]:
df = df[df['price'].notna()]
df['NAME'].fillna("Unknown")

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84449 entries, 0 to 102597
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   NAME                            84250 non-null  object
 1   country                         83999 non-null  object
 2   room type                       84449 non-null  object
 3   Construction year               84269 non-null  float64
 4   price                           84449 non-null  float64
 5   host_identity_verified          84215 non-null  object
 6   neighbourhood                   84436 non-null  object
 7   neighbourhood group             84426 non-null  object
 8   lat                             84442 non-null  float64
 9   long                            84442 non-null  float64
 10  minimum nights                  84107 non-null  float64
 11  number of reviews               84286 non-null  float64
 12  reviews per month               71308 non-null  float64
 13  calculated host listings count  84182 non-null  float64
 14  availability 365                84076 non-null  float64
 15  service fee                     84263 non-null  float64
 16  license                         2 non-null      object
dtypes: float64(10), object(7)
memory usage: 11.6+ MB

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')  # Use median for numerical features
df[['Construction year', 'minimum nights', 'number of reviews', 'reviews per month', 'calculated host listings count', 'availability 365', 'service fee']] = imputer.fit_transform(df[['Construction year', 'minimum nights', 'number of reviews', 'reviews per month', 'calculated host listings count', 'availability 365', 'service fee']])

# Drop columns with a lot of missing values or ones that aren't relevant
columns_to_drop = ['license']  # Add other columns to drop
df = df.drop(columns=columns_to_drop)

# Feature Engineering: Calculate property age from 'Construction year'
current_year = 2023  # Replace with the current year
df['property_age'] = current_year - df['Construction year']

# Feature Scaling
scaler = StandardScaler()
numerical_features = ['property_age', 'lat', 'long', 'minimum nights', 'number of reviews', 'reviews per month', 'calculated host listings count', 'availability 365', 'service fee']
df[numerical_features] = scaler.fit_transform(df[numerical_features])

# Encode Categorical Variables (one-hot encoding)
df = pd.get_dummies(df, columns=['room type', 'host_identity_verified', 'neighbourhood'])

column_to_remove = ['neighbourhood group', 'country']
df = df.drop(columns=column_to_remove)

# Split data into features (X) and target (y)
X = df.drop(columns=['price'])
y = df['price']

In [14]:
from sklearn.model_selection import train_test_split


# Train-Test Split
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59114 entries, 38061 to 19176
Columns: 238 entries, NAME to neighbourhood_Woodside
dtypes: float64(10), object(1), uint8(227)
memory usage: 18.2+ MB

In [15]:
X_train.to_csv('X_train.csv', index=False)
X_val.to_csv('X_val.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_val.to_csv('y_val.csv', index=False)
y_test.to_csv('y_test.csv', index=False)

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Load preprocessed data
X_train = pd.read_csv('X_train.csv')
y_train = pd.read_csv('y_train.csv')
X_val = pd.read_csv('X_val.csv')
y_val = pd.read_csv('y_val.csv')

# Exclude non-numeric columns
non_numeric_columns = ['NAME']  # Exclude these columns
X_train = X_train.drop(columns=non_numeric_columns)
X_val = X_val.drop(columns=non_numeric_columns)

# Model Selection: Choose a simple model to start with
model = HistGradientBoostingRegressor()  # You can replace this with other regression algorithms

# Model Training
model.fit(X_train, y_train)

# Predict on validation data
y_pred = model.predict(X_val)

# Model Evaluation
mae = mean_absolute_error(y_val, y_pred)
mse = mean_squared_error(y_val, y_pred)
rmse = np.sqrt(mse)

print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Mean Absolute Error (MAE): 2.14
Mean Squared Error (MSE): 216.33
Root Mean Squared Error (RMSE): 14.71